name: My First Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:

        - name: Checkout Repos
          uses: actions/checkout@v6  

        - name: List and Read Files
          run: |
             echo "My first GitHub Actions Job"
             ls -ltra
             cat README.md

        - name: Generate ASCII Artwork
          run: cowsay -f dragon "Run for cover ... to He who protects from the dragon ... AMEN" >> dragon.txt